#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -D -m 755 ucaresystem-core debian/ucaresystem-core/usr/bin/ucaresystem-core
	install -D -m 755 launch-ucaresystemcore debian/ucaresystem-core/usr/bin/launch-ucaresystemcore
