[Desktop Entry]
Type=Application
Name=uCareSystem
Comment=All in one system maintenance
Icon=ucaresystemicon
Exec=launch-ucaresystemcore
Terminal=false
Categories=PackageManager;
